//Variables

$background: #f2f2f2;
$white: #ffffff;
$border-radius-size: 14px;
$barbarian: #ec9b3b;

body {
  padding-top: 75px;
  background-color: #f2f2f2;
}

.search-form {
  width: 1000px;
  display: flex;
  margin: 20 auto;
  top: 10px;
  right: 10px;
}

.search-bar {
  margin: 0;
  width: 100%;
  height: 90px;
  padding: 0 40px;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  align-items: right;
  display: flex;
  justify-content: right;

  &:focus {
    border: 1px solid #008abf;
    transition: 0.35s ease;
    color: #008abf;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.search-button {
  margin: auto
}

.search-icon {
  width: 75px;
  height: 75px;
}

.search-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}
$font-size: 50px;
.example {
  font-size: $font-size;
}

.card-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}

.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}
